

.main-container {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  background-color: #F4F6F6;
  font-family: Roboto, sans-serif;;
}

#stubs {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

#stubs td, #stubs th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stubs tr:nth-child(even){background-color: #f2f2f2;}

#stubs tr:hover {background-color: #ddd;}

#stubs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.loaderDiv {
  height: 100vh;
  width: 100px;
  padding-top: 40vh;
  margin: auto;
}

.search-area{
  /* background-color: aquamarine; */
  box-sizing: border-box;
  display: flex;
  padding: 20px 0px;
  justify-content: space-around;
  margin: auto;
  height: 70px;
  width: 60%;
}
.reports-area {
  width: 60%;
  margin: auto;
  box-sizing: border-box;
  padding: 25px 0px;
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.report-box{
  box-sizing: border-box;
  padding: 25px;
  height: 150px;
  width: 270px;
  background-color: #FFF;
  border-radius: 5px;

}

.report-box strong {
  font-size: 25px;
}
.search-area label {
  font-size: 15px; 
  margin-bottom: 10px;
}

.search-area select {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;  
  
}


.graphDiv {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
  margin: auto;
}

.graph-area {
  height: 50vh;
  width: 60%;
  margin: auto;
}

.select-form {
height: 70px;
width: 300px;  
}